<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="container">
  <table class="container">
    <tr>
      <th class="text-center"><img src="https://i.ibb.co/ZgD4ws6/a6.png" style="width: 200px;"><p style="font-size: 11px;">David Yau Zhong<br> DATABASE PROGRAMMER <br> 1+ (647) 394-1606</p></th>
      <th class="text-center col-1"><img src="https://i.ibb.co/JkcpKNC/a5.png" style="width: 200px;"><p style="font-size: 11px;">Gai Huang<br> LEAD SOFTWARE ENGINEERING <br> 1+ (647) 676-8783</p></th>
      <th class="text-center col-1"><img src="https://i.ibb.co/xqvmHkB/a4.png" style="width: 200px;"><p style="font-size: 11px;">Michelle Fajardo<br> UI PROGRAMMER <br> 1+ (437) 779-3858</p></th>
    </tr>
    <tr>
      <th class="text-center"><img src="https://i.ibb.co/Ttr7PPK/a3.png" style="width: 200px;"><p style="font-size: 11px;">Munther Al Shukait<br> SECURITY PROGRAMMER <br> 1+ (647) 712-9287</p></th>
      <th class="text-center col-1"><img src="https://i.ibb.co/YcJV8MY/a2.png" style="width: 200px;"><p style="font-size: 11px;">Sanamdeep Singh<br> WEB DESIGN 7 UI PROGRAMMER <br> 1+ (647) 540-7096</p></th>
      <th class="text-center col-1"><img src="https://i.ibb.co/M1JVMH8/a1.png" style="width: 200px;"><p style="font-size: 11px;">Elena Florance Floreanu<br> PROJECT MANAGER <br> 1+ (647) 527-4733</p></th>
    </tr>
  </table>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
