<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="login-container">

        <div class="left-container">
            <div class="title"><span>LOGIN</span></div>
            <form method="POST">
                <div class="input-container">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="message-container">
                    <span class="regist"> Or <a href="/register">Register Here</a></span>
                    <% if(messages.length > 0) {%>
                    <span>
                        <div class="alert alert-danger">
                            <span>Invalid username or password</span>
                        </div>
                    </span>
                    <% } %>
                </div>
        </div>
        <div class="right-container">
            <div class="actionBtnContainer">
                <div class="actoin-container d-flex">
                    <input type="submit" class="btn btn-outline-primary mx-auto" value=" Login " id="signButton">
                </div>
                <div class="actoin-container d-flex">
                    <a href="/" class="mx-auto">
                        <input type="button" class="btn btn-outline-warning" value="Cancel" id="cancelButton">
                    </a>
                </div>
            </div>
        </div>
        </form>
    </div>
</main>


<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>